#header{
    color: white;
    background-color: darkblue;
    border-radius: 15px;
    padding: 7px;
    width: 99%;
    height: 100px;
}

#main{
    width: 100%;
    display: flex;
}

#menu{
    width: 20%;
}

#center{
    width: 60%;
}

#bar{
    width: 20%;
}